#header {
	height: 15%;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}
#header img{
	width: 19%;
	height: 120px;
	background-color: white;
}

#wrapper {
	background-color: orange;
	padding: 20px;
	vertical-align: top;
	width: 970px;
	height: 970px;
}

#main_content {
	height: 78%;
	width: 100%;
}

.col {
	width: 19%;
	display: inline-block;
	/*background-color: teal;*/
}
.col img {
	padding: 10px;
	margin: 5px;
	height: 150px;
	width: 150px;
}

#col_1 img, #col_3 img, #col_5 img{
	display: block;
	vertical-align: top;
	background-color: blue;
	border: 5px solid black;
}
#col_2 img, #col_4 img {
	display: block;
	vertical-align: top;
	background-color: red;
	border: 5px solid black;

}